<div class="page-wrapper container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div class="quiz-col" fxFlex="70%">

        <h3>Welcome!</h3>

        <div id="home" fxLayout="row wrap" fxLayoutGap="16px">

            <mat-card class="home-card" 
                fxFlex="calc(50% - 56px)">

                <mat-card-header>
                    <mat-card-title class="item-result">What's your position?</mat-card-title> 
                </mat-card-header>   

                <div mat-card-image [style.background-image]="'url(assets/img/home_img.png)'"></div>  

                <mat-card-content>
                    <p>Welcome to the Political Position quiz, which attempts to match you to a political ideology.</p> 
                </mat-card-content>

                <mat-card-actions> 
                    <button mat-raised-button color="primary" 
                    class="question-response"
                    [routerLink]="['/question']">Let's Play!</button>
                </mat-card-actions>

            </mat-card>

        </div>

    </div> 

</div>