.quiz-col #home button {
    height: 65px;
    width: 41%;
    margin: 10px 20% 10px 0;
    font-size: 1.1em; 
}
.mat-card-image {
    height: 320px;
    background-size: cover;
    background-position-x: 55%;
}